@font-face {
    font-family: Outfit;
    src: url(./fonts/Outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");

    }

@font-face {
    font-family: Fasthand;
    src: url(./fonts/Fasthand/Fasthand-Regular.ttf)
    format("truetype");
    }

@font-face {
    font-family: Khand_reg;
    src: url(./fonts/Khand/Khand-Regular.ttf)
    format("truetype");
    }

body{
    margin: 0;
    background-color: white;
    font-family: Outfit;
}

.board {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    height: 80px;
    background-color: rgb(60, 120, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0px 0px 16px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 2%;
    border: 3px solid rgb(200, 120, 10);
    border-right: none;
    gap: 16px;
}

.header img {
    height: 48px;
    filter: invert(100%);
}

.headline {
        font-size: 72px;
        color: white;
}

.callAction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: rgb(200, 120, 10);
    width: 20%;
    border-radius: 16px 0px 0px 16px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    color: white;
    padding: 4px;
    position: absolute;
    right: 0;
}

.callAction img {
    width: 24px;
    filter:invert()
}

.footer{
    height: 80px;
    background-color: rgb(60, 120, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0px 0px 16px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 2%;
    border: 3px solid rgb(200, 120, 10);
    border-right: none;
}

.footer a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.199);
    text-decoration: underline
}

.footer a:hover{
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
    gap: 8px;
}


.flex {
    display: flex;
}

#banner img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 16px 16px 0px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
    margin-right: 2%;
}

h1, h2, h3, h4, h5, h6, span, p {
    margin: 0;
}

.infoSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 16px 0px 0px 16px;
    border: 1px solid rgb(80, 60, 50);
    border-right: none;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 2%;
}

.infoSection h1 {
    font-family: Outfit;
    font-size: 48px;
}

.infoTextbox {
    margin: 16px;
}

.conditions {
    margin-top: 16px;
}

.menuList {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menuCard {
    width: 98%;
    height: 120px;
    background-color: rgba(60, 120, 140, 0.2);
    border: 1px solid rgb(80, 60, 50);
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}

.menuDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.menuDescription {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.menuCard img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 5px solid rgb(200, 120, 10);
    border-radius: 50%;
}

.numberInput {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

.putInCart {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.addMenuBtn {
    width: 32px;
    height: 32px;
    background-color: rgb(200, 120, 10);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.addMenuBtn:hover {
    background-color: rgb(180, 105, 8);
}

.cartContainer {
    width: 30%;
    min-height: 400px;
    height: fit-content;
    background-color: rgba(60, 120, 140, 0.2);
    border: 1px solid rgb(80, 60, 50);
    border-right: none;
    border-radius: 16px 0px 0px 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 80px; 
}

#shoppingCartContainerJS {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartMenuContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
}

.cartMenu {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
}

.posMenu {
    display: flex;
}

.addCount {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: 16px;
}

.add {
    width: 24px;
    height: 24px;
    background-color: rgb(200, 120, 10);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0 4px;
}

.add:hover {
    background-color: rgb(180, 105, 8);
}

.number {
    width: 24px;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    
}

.reduce {
    width: 24px;
    height: 24px;
    background-color: rgb(200, 120, 10);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0 4px;
}

.reduce:hover {
    background-color: rgb(180, 105, 8);
}

.scHeader {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 16px 0 0 0;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deliveryOptionContainer {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.deliveryOptionBtn {
    display: flex;
    background-color: grey;
    border-radius: 8px;
    margin: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.deliveryBtn {
    background-color: grey;
    border-radius: 8px 0 0 8px;
    color: lightgray;
    padding: 4px;
}

.deliveryBtn:hover {
    background-color: darkgrey;
}

.pickupBtn {
    background-color: grey;
    border-radius: 0 8px 8px 0;
    color: lightgray;
    padding: 4px;
}

.pickupBtn:hover {
    background-color: darkgrey;
}

.checkoutContainer {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 16px;
    min-height: 48px;
    height:fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.sumContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 16px;
    margin-top: 16px;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 72px;
    width: 80%;
    gap: 16px;
}

.orderNowBtn {
    background-color: grey;
    border-radius: 8px;
    color: lightgray;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.orderNowBtn:hover {
    background-color: rgb(180, 105, 8);
}

.active {
    background-color: rgb(200, 120, 10);
    color: white;
}

.closeCartBtn {
    background-color: rgb(200, 120, 10);
    color: white;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.closeCartBtn:hover {
    background-color: rgb(180, 105, 8);
}

.disclaimer {
    font-size: 10px;
}

.delCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayNone {
    display: none;
}

@media(min-width: 799px) {
    .closeCartBtn {
        display: none;
    }
    .cartContainer {
        display: flex;
    }
}

@media(max-width: 800px) {
    .footer{
        height: 40px;
        border-radius: 16px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 2%;
        margin-right: 2%;
        border: 3px solid rgb(200, 120, 10);
        gap: 8px;
    }

    .links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .header{
        height: 40px;
        border-radius: 16px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 2%;
        margin-right: 2%;
        border: 3px solid rgb(200, 120, 10);
        gap: 8px;
    }
    .header img {
        height: 24px;
        filter: invert(100%);
    }
    
    .headline {
            font-size: 36px;
            color: white;
    }

    .flex {
        justify-content: center;
    }

    #banner img {
        height: 175px;
        object-fit: cover;
        border-radius: 16px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
        max-width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .infoSection {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(120, 120, 120, 0.3);
        border-radius: 16px;
        border: 1px solid rgb(80, 60, 50);
        margin-top: 16px;
        margin-bottom: 16px;
        max-width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .infoSection h1 {
        font-family: Outfit;
        font-size: 24px;
    }

    .infoTextbox {
        margin: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conditions {
        margin-top: 16px;
        font-size: 10px;
        text-align: center;
    }

    .callAction {
        display: none;
    }

    .checkoutContainer {
        position:inherit;
        border-radius: 0 0 16px 16px;
        gap: 8px;
    }

    .scHeader {
        border-radius: 16px 16px 0 0 ;
    }

    .deliveryOptionContainer {
        margin-bottom: 8px;
    }

    .emptyCart {
        margin-top: 8px;
        margin-bottom: 8px;
        gap: 8px;
    }

    .menuList {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuCard {
        width: 98%;
        height: 80px;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .menuDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
    }

    .menuDescription {
        display: flex;
        flex-direction: column;
        margin: 8px;
    }

    .menuCard img {
        display: none;
    }

    .numberInput {
        display: flex;
        flex-direction: column;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
    }

    .putInCart {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }

    .addMenuBtn {
        width: 32px;
        height: 32px;
        background-color: rgb(200, 120, 10);
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        color: white;    
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
    }

    .cartContainer {
        width: 90%;
        min-height: 80%;
        background-color: rgba(197, 229, 240, 1);
        z-index: 20;
        border-right: solid;
        border-radius: 16px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 10%; 
        left: 5%;
    }

    .openCart {
        background-color: rgb(200, 120, 10);
        color: white;
        border-radius: 8px;
        padding: 4px 8px;
        cursor: pointer;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 8px;
    }
    .openCart:hover {
        background-color: rgb(180, 105, 8);
    }
}